.Box {
    position: fixed;
    top: 20vh;
    left: 5%;
    width: 90%;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
}
.BoxInfo {
    width: 45rem;
    height: auto;
    float: left;
    margin-right: 5rem;
    padding: 1rem;
}

.Img {
    width: 50rem;
    height: 30rem;
    float: left;
    /* transform: rotateZ(1deg) translateY(0rem) translateX(-1rem); */
}

.Img:hover {
    transform: scale(1.001); 
    /* transition: cubic-bezier(0.1, 0.2, 0.165, 0.2); */
    transition-duration: 10ms;
    /* transform-style: flat; */
}

.Titulo {
    padding-left: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-top: -1rem;
    background-color: rgb(241, 241, 241);
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.OrderButton {
    background-color: rgb(0, 0, 0);
    color: white;
    height: 2.5rem;
    float: right;
    border-color: white;
    border-radius: 0.5rem;
}

.AddButton {
    background-color: rgb(0, 0, 0);
    color: white;
    height: 2.5rem;
    float: right;
    border-color: white;
    border-radius: 0.5rem;
    /* margin-left: 30rem; */
}
.BoxShop {
    top: 10rem;
    float: left;
    width: 46rem;
    height: auto;
    padding-left: 1rem;
    margin: 0px;
}

.Parrafo {
    font-size: 20px;
}

.Platillo {
    font-size: 30px;
    font-weight: bold;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.input {
    width: 1.5rem;
    float: right;
    text-align: center;
    margin-left: 40rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
    font-size: 18px;
}

.Precio {
    text-align: right;
    font-size: 23px;
    font-weight: bold;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 768px) {
    .Img {
      width: 35.8rem;
      height: 22rem;
    }
    .BoxShop {
        width: 34.7rem;
    }
    .BoxInfo {
        width: 34.7rem;
    }
    .OrderButton {
        height: 3.5rem;
        width: 10rem;
        font-size: 18px;
    }
    .AddButton {
        height: 3.5rem;
        width: 10rem;
        font-size: 18px;
    }
  }