
.UserScreen_Name {
    color: white;
    float: right;
    margin-top: 0.5rem;
    margin-right: 100px;
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.UserScreen_Img {
    border-radius: 10rem;
    height: 35px;
    width: 40px;
    float: right;
}