.YumKaax_Navbarimg {
    width: 4rem;
    height: 3rem;
    float: left;
}

.YumKaax_Navbarbox {
    position: fixed;
    padding: 0rem;
    margin-top: -0.5rem;
    left: 16%;
  align-items: center;
  justify-content: center;
    height: 4rem;
    width: 68%;
    border-color: black;
    background: linear-gradient(20deg, rgb(105, 1, 190), rgb(26, 5, 42));
}

.YumKaax_Navbarlist {
    list-style: none;
}

.YumKaax_Navbaritem {
    font-size: 15px;
    float: right;
    margin-right: 10rem;
    background-color: rgb(255, 255, 255);
    color: rgb(105, 1, 190);
    padding: 0.5rem;
    border-radius: 0.7rem;
}

.YumKaax_NavbarCart {
    float: left;
    margin-top: 0rem;
    margin-right: 1rem;
    font-size: 25px;
}

.YumKaax_NavbarIcon {
    font-size: 20px;
    color: white;
    float: left;
}