.YumKaax_Navbarimg {
    width: 4rem;
    height: 3rem;
    float: left;
}

.YumKaax_Navbarbox {
    position: fixed;
    margin-top: -1rem;
    height: 4rem;
    width: 100%;
    box-shadow: 2px 2px 2px 1px rgb(0, 0, 0, 0.1);
    background-color: white;
}

.YumKaax_Navbarlist {
    list-style: none;
}

.YumKaax_Navbaritem {
    font-size: 15px;
    float: right;
    margin-right: 10rem;
    background-color: rgb(105, 1, 190);
    color: white;
    padding: 0.5rem;
    border-radius: 0.7rem;
}

.YumKaax_NavbarCart {
    float: right;
    margin-top: 0.3rem;
    margin-right: 1rem;
    font-size: 25px;
}